<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rare Penny</title>
  </head>
  <body id="top">

    <div class="sticky-intersection absolute top-0 left-0 right-0 h-5"></div>
    <header 
      class="
        relative 
        bg-wine-red-regular

        sticky 
        sticky-header 
        top-0 

        transition-all
        ease-in-out
        duration-300 

        z-9
      " 
      >

      <!-- large up -->
      <nav class="
        py-4
        px-10
        <sm:px-2
        
        w-full
        flex
        items-center
        justify-center

        transition-all 
        ease-in-out 
        duration-300
        
        border-0 
        border-blue-500

        relative
      ">
        <ul class="flex w-5/12 items-end <xl:w-4/12 <sm:w-3/12 border-0 border-blue-500">
          <li class="border-0 border-blue-500 flex items-center justify-center">
            <a 
              href="#" 
              class="inline-flex items-center justify-center transition-all ease-in-out duration-300 opacity-100 hover:opacity-60 border-0 border-blue-500 open-search"
            >
              <i class="icon-search text-2xl text-milk-light"></i>
            </a>
          </li>
        </ul>

        <div class="flex items-center justify-center w-2/12 <xl:w-4/12 <sm:w-5/12 border-0 border-red-500" >
          <a href="#" class="border-0 border-blue-500 transition-all ease-in-out duration-300 opacity-100 hover:opacity-60 h-full logo-complete overflow-hidden">
            <img src="/static/logo-rare-penny-front.svg" class="absolute absolute top-[50%] left-[50%] -translate-x-1/2 -translate-y-1/2 object-cover object-contain w-75 <sm:w-60"/>
            <img 
              src="/static/logo-rare-penny-back.svg" 
              class="
                object-cover 
                object-contain 
                w-45
                
                logo-back 
                opacity-100 
                max-h-100 

                transition-all 
                ease-in-out 
                duration-300
              " 
              />
          </a>
        </div>

        <div class="flex justify-end w-5/12 space-x-15 <xl:hidden border-0 border-blue-500">
          <ul class="flex pr-20 <2xl:pr-10 space-x-10 <xl:space-x-5 border-0 border-blue-500">

            <li class="border-0 border-blue-500 flex items-center justify-center relative">
              <a href="#" class="[&_span]:hover:visible transition-all ease-in-out duration-300 opacity-100 hover:opacity-60 text-[1.045rem] leading-5 uppercase text-milk-light flex flex-col items-center border-0 border-blue-500">
                <span class="border-0 border-blue-500">Home</span>
                <span class="block mt-[2px] h-[2px] w-4/12 bg-milk-light invisible"></span>
              </a>
            </li>
            
            <li class="border-0 border-blue-500 flex items-center justify-center relative">
              <a href="#" class="[&_span]:hover:visible transition-all ease-in-out duration-300 opacity-100 hover:opacity-60 text-[1.045rem] leading-5 uppercase text-milk-light flex flex-col items-center border-0 border-blue-500">
                <span class="border-0 border-blue-500">About</span>
                <span class="block mt-[2px] h-[2px] w-4/12 bg-milk-light invisible"></span>
              </a>
            </li>

            <li class="border-0 border-blue-500 flex items-center justify-center relative">
              <a href="#" class="[&_span]:hover:visible transition-all ease-in-out duration-300 opacity-100 hover:opacity-60 text-[1.045rem] leading-5 uppercase text-milk-light flex flex-col items-center border-0 border-blue-500">
                <span class="border-0 border-blue-500">Shop</span>
                <span class="block mt-[2px] h-[2px] w-4/12 bg-milk-light invisible"></span>
              </a>
            </li>

            <li class="border-0 border-blue-500 flex items-center justify-center relative">
              <a href="#" class="[&_span]:hover:visible transition-all ease-in-out duration-300 opacity-100 hover:opacity-60 text-[1.045rem] leading-5 uppercase text-milk-light flex flex-col items-center border-0 border-blue-500">
                <span class="border-0 border-blue-500">Stockists</span>
                <span class="block mt-[2px] h-[2px] w-4/12 bg-milk-light invisible"></span>
              </a>
            </li>

          </ul>

          <ul class="absolute top-5 right-10 border-0 border-red-500">
            <li class="border-0 border-blue-500 flex items-center justify-center relative">
              <a 
                href="#" 
                class="inline-flex items-center justify-center text-milk-light transition-all ease-in-out duration-300 opacity-100 hover:opacity-60 border-0 border-blue-500 open-search"
              >
                <i class="icon-cart text-2xl"></i>
              </a>
              <span class="absolute text-md border-0 border-red-500 -top-4 left-1.5 text-milk-light">1</span>
            </li>
          </ul>

        </div>

        <!-- mobile burger -->
        <ul class="<xl:w-4/12 <sm:w-3/12 flex flex-col items-end justify-end xl:hidden border-0 border-red-500">
          <li class="border-0 border-blue-500 flex items-center justify-center">
            <a 
              href="#" 
              class="flex flex-col space-y-2 items-center transition-all ease-in-out duration-300 opacity-100 hover:opacity-60 border-0 border-red-500"
              id="burger-button"
            >
              <i class="icon-burger text-lg text-milk-light"></i>
            </a>
          </li>
        </ul>
        <!-- mobile burger -->
          
      </nav>

      <!-- mobile cart -->
      <div class="fixed bg-black rounded-l-md px-2 py-3 pt-6 right-0 top-80 z-999 xl:hidden">
        <ul class="flex border-0 border-red-500">
          <li class="border-0 border-blue-500 flex items-center justify-center relative">
            <a 
              href="#" 
              class="inline-flex items-center justify-center text-milk-light transition-all ease-in-out duration-300 opacity-100 hover:opacity-60 border-0 border-blue-500 open-search"
            >
              <i class="icon-cart text-2xl"></i>
            </a>
            <span class="absolute text-md border-0 border-red-500 -top-5 left-2 text-milk-light">1</span>
          </li>
        </ul>
      </div>
      <!-- mobile cart -->

    </header>

    <main class="overflow-hidden">

      <!-- block -->
      <div class="bg-earth-dark">

        <div class="text-center py-10 border-0 border-red-500" >
          <div
            class="2xl:container mx-auto flex flex-col justify-center items-center"
            data-aos="fade-up" 
            data-aos-duration="1000"
            data-aos-delay="500"
          >
            <h2 class="w-10/12 <md:w-full text-white text-8xl <lg:text-6xl font-serif pt-5 <lg:pt-2 border-0 border-blue-500">
              Terms of Service
            </h2>
            <div class="text-white text-xl <md:text-lg text-center w-7/12 <lg:w-10/12 border-0 border-red-500">
              <p>Please read our Terms of Service before using this site</p>
            </div>
          </div>
        </div>

      </div>
      <!-- block -->

      <!-- block -->
      <div class="py-30 px-10 <md:px-5 bg-white">
         
        <!-- container -->
        <div class="2xl:container mx-auto flex flex-col flex-wrap items-center justify-center space-y-15 border-0 border-red-500 overflow-hidden"
          data-aos="fade-right" 
          data-aos-duration="1000"
          data-aos-delay="500"
        >
          <!-- w-5/12 -->
          <div class="w-8/12 <lg:w-12/12 space-y-10 items-starts border-0 border-green-500">
            
            <div 
              class="text-xl <md:text-lg has-paragraphs has-links has-lists has-h2s has-h3s"
              data-aos="fade-up" 
              data-aos-duration="1000"
            >
              <p>Please read these terms and conditions carefully before using this site.</p>
              <p><em>Effective Date: 15/05/2025</em></p>

              <h2>1. Introduction</h2>
              <p>Welcome to Edgemill Beverages (“Company,” “we,” “us,” or “our”). By accessing or using our website, you agree to comply with these Terms of Service (“Terms”). If you do not agree, please refrain from using our services.</p>
              <h2>2. Eligibility &amp; Use of Services</h2>
              <p>You must be at least 18 years old to purchase alcohol-related products from us. By using our site, you confirm you meet legal drinking age requirements in your jurisdiction.</p>
              <h2>3. Orders, Payments &amp; Pricing</h2>
              <ul>
                <li>All prices are displayed in <strong>Australian Dollars (AUD)</strong> and include applicable taxes unless stated otherwise.</li>
                <li>Payments must be completed via our accepted payment methods.</li>
                <li>We reserve the right to modify prices, discontinue products, or refuse orders at our discretion.</li>
              </ul>
              <h2>4. Shipping &amp; Delivery</h2>
              <ul>
                <li>Delivery times are estimates and may vary due to external factors.</li>
                <li>Risk of loss transfers to you upon delivery.</li>
                <li>Any issues with damaged or missing products must be reported within <strong>7 days</strong> of receipt.</li>
              </ul>
              <h2>5. Returns &amp; Refunds</h2>
              <p>We comply with Australian Consumer Law, offering refunds or replacements for faulty or damaged goods. Requests must be made within a reasonable period, supported by proof of purchase.</p>
              <h2>6. Intellectual Property</h2>
              <p>All content, including logos, product designs, and trademarks, remains the intellectual property of <strong>Edgemill Beverages</strong>. You may not reproduce, distribute, or use any material without written consent.</p>
              <h2>7. Limitations of Liability</h2>
              <p>We aim to provide accurate and reliable content, but we <strong>do not guarantee</strong> uninterrupted access or error-free information. We are not liable for indirect damages or losses arising from use of our website or products.</p>
              <h2>8. Privacy &amp; Data Protection</h2>
              <p>Your personal information is handled in accordance with our <strong>Privacy Policy</strong>, available here.</p>
              <h2>9. Changes to Terms</h2>
              <p>We may update these Terms periodically. Continued use of our website after changes implies acceptance of revised Terms.</p>
              <h2>10. Contact Information</h2>
              <p>For questions or concerns regarding these Terms, contact us at:<br> Edgemill Beverages<br><a href="mailto:info@edgemill.com.au">info@edgemill.com.au</a></p>

            </div>

          </div>
          <!-- w-5/12 -->

        </div>
        <!-- container -->

      </div>
      <!-- block -->


      <!-- block -->
      <div class="bg-earth-dark">

        <div class="py-20 space-y-10">
          
          <!-- container -->
          <div 
            class="2xl:container mx-auto flex-center-x overflow-hidden <md:px-5 border-0 border-red-500"
            data-aos="fade-up" 
            data-aos-duration="1000"
            data-aos-delay="500"
          >

            <!-- flex -->
            <div class="w-full flex flex-col items-center space-y-4 border-0 border-blue-500">

              <div class="flex flex-col items-center space-y-2">
                <h2 class="font-serif font-medium tracking-wide text-5xl text-white text-center leading-14">
                  Join the Rare Penny circle
                </h2>

                <div class="text-2xl text-white w-8/12 <md:w-full text-center">
                  <p>Be the first to discover new vintages, limited editions, and exclusive offers.</p>
                </div>
              </div>

            </div>
            <!-- flex -->

          </div>
          <!-- container -->

          <!-- container -->
          <div 
            class="2xl:container mx-auto <md:px-5 border-0 border-red-500" 
            id="app-form-newsletter"
          >

            <form-newsletter
              v-slot="{ v$, form, response, submitForm, resetResponse }"
              v-bind:api-add-subscriber="'/wp-json/api/v1/subscriber/add'"
            >
              <form
                class="w-full flex flex-col items-center justify-center space-y-10 border-0 border-red-500"
                novalidate="true"
                v-on:submit.prevent="submitForm"
              >

                <!-- fields -->
                <div class="w-3.5/12 <xl:w-4/12 <lg:w-5/12 <md:w-full">

                  <!-- block: honey -->
                  <div class="absolute top-0 left-0 w-0 h-0 -z-1 opacity-0">
                    <label class="block" for="name">
                      Full Name
                    </label>
                    <input
                      id="name"
                      type="text"
                      name="name"
                      autocomplete="disabled"
                      v-model.trim="form.name"
                    >

                    <label class="block" for="fname">
                      First Name
                    </label>
                    <input
                      id="fname"
                      type="text"
                      name="fname"
                      autocomplete="disabled"
                      v-model.trim="form.fname"
                    >

                    <label class="block" for="lname">
                      Last Name
                    </label>
                    <input
                      id="lname"
                      type="text"
                      name="lname"
                      autocomplete="disabled"
                      v-model.trim="form.lname"
                    >

                    <label class="block" for="email">
                      Email
                    </label>
                    <input
                      id="email"
                      type="email"
                      name="email"
                      autocomplete="disabled"
                      v-model.trim="form.email"
                    >

                    <label class="block" for="telephone">
                      Telephone
                    </label>
                    <input
                      id="telephone"
                      type="text"
                      name="telephone"
                      autocomplete="disabled"
                      v-model.trim="form.telephone"
                    >
                  </div>
                  <!-- block: honey -->

                  <!-- flex -->
                  <div 
                    class="flex flex-wrap flex-col items-center justify-center space-y-5 border-0 border-red-500 bg-[#f3efed] py-6 px-5 rounded-xl"
                    data-aos="fade-up" 
                    data-aos-duration="1000"
                    data-aos-delay="500"
                  >
                    
                    <div class="w-full border-0 border-red-500">
                      <input 
                        type="text" 
                        placeholder="First name" 
                        class="input-light" 
                        v-model.trim="form.firstName"
                        v-on:blur="v$.firstName.$touch"
                        v-bind:class="{ 'has-error': v$.firstName.$errors.length }"
                      />
                      <div v-for="error of v$.firstName.$errors" :key="error.$uid">
                        <div class="text-red-500 text-xl px-4">{{ error.$message }}</div>
                      </div>
                    </div>

                    <div class="w-full border-0 border-red-500">
                      <input 
                        type="text" 
                        placeholder="Last name" 
                        class="input-light" 
                        v-model.trim="form.lastName"
                        v-on:blur="v$.lastName.$touch"
                        v-bind:class="{ 'has-error': v$.lastName.$errors.length }"
                      />
                      <div v-for="error of v$.lastName.$errors" :key="error.$uid">
                        <div class="text-red-500 text-xl px-4">{{ error.$message }}</div>
                      </div>
                    </div>
                    
                    <div class="w-full border-0 border-red-500">
                      <input 
                        type="text" 
                        placeholder="Email address" 
                        class="input-light" 
                        v-model.trim="form.emailAddress"
                        v-on:blur="v$.emailAddress.$touch"
                        v-bind:class="{ 'has-error': v$.emailAddress.$errors.length }"
                      />
                      <div v-for="error of v$.emailAddress.$errors" :key="error.$uid">
                        <div class="text-red-500 text-xl px-4">{{ error.$message }}</div>
                      </div>
                    </div>

                  </div>
                  <!-- flex -->

                </div>
                <!-- fields -->

                <div 
                  data-aos="fade-up" 
                  data-aos-duration="1000"
                  data-aos-delay="500"
                >
                  <a class="btn" href="#">
                    <button>Sign up today</button>
                  </a>
                </div>

              </form>

              <div
                v-on:click.prevent="resetResponse"
                class="hidden top-0 bottom-0 left-0 right-0 bg-white bg-opacity-90 z-9999"
                :class="{ 'fixed flex justify-center items-center flex-wrap': response.status === 'ok' }"
              >
                <div class="w-6/12 <xl:w-10/12 <md:w-11/12 flex-center-x border-0 border-red-500">
                  <p class="bg-blue-light py-4 px-6 text-3xl text-center">
                    <i class="icon-thumb-up"></i> Thank you for subscribing with us!
                  </p>
                </div>
              </div>

              <div
                v-on:click.prevent="resetResponse"
                class="hidden top-0 bottom-0 left-0 right-0 bg-white bg-opacity-90 z-9999 border-0 border-red-500"
                :class="{ 'fixed flex justify-center items-center flex-wrap': response.status === 'error' }"
              >
                <div class="w-6/12 <xl:w-10/12 <md:w-11/12 flex-center-x">
                  <p class="bg-red-200 py-4 px-6 text-3xl text-center">
                    <i class="icon-warning"></i> {{ response.message }}
                  </p>
                </div>
              </div>

            </form-newsletter>

          </div>
          <!-- container -->

        </div>

      </div>
      <!-- block -->


    </main>
    
    <footer id="footer">

      <!-- block -->
      <div class="py-20 px-10 <md:px-5 pt-30 space-y-10 bg-wine-red-regular bg-[size:120%_auto] <xl:bg-[size:200%_auto] <lg:bg-[size:300%_auto] <md:bg-[size:400%_auto] bg-repeat border-0 border-red-500"
        style="background-image: url('/static/stamp-pattern.png'); background-position: -100px 20px; xbackground-blend-mode: color;"
      >

        <!-- container -->
        <div class="2xl:container mx-auto flex flex-wrap items-start items-stretch justify-between <md:space-y-10 border-0 border-red-500">

          <!-- w-6/12 -->
          <div class="w-6/12 <md:w-full space-y-20 border-0 border-red-500"
            data-aos="fade-up" 
            data-aos-duration="1000"
            data-aos-delay="500"
          >
            <div class="space-y-10">
              <div class="border-0 border-green-500">
                <img src="/static/logo-rare-penny-footer.svg" class="w-80" />
              </div>
              
              <div class="space-y-8">
                <div class="text-xl <md:text-lg text-white">
                  <p>RARE PENNY is manufactured<br/>
                    & distributed by Edgemill Beverages<br/>
                    37-39 William Angliss Drive<br/>
                    Laverton North, Vic 3026<br/>
                    Phone: +61 3 9982 8700<br/>
                    info@edgemill.com.au
                  </p>
                </div>
              </div>

              <div class="flex flex-col items-start space-y-5 border-0 border-red-500">
                <ul class="flex flex-wrap items-center justify-center space-x-3 border-0 border-blue-500">
                  
                  <li>
                    <a href="" class="rounded-full  w-[60px] <md:w-[50px] h-[60px] <md:h-[50px] flex items-center justify-center bg-milk-light transition-all ease-in-out duration-300 opacity-100 hover:opacity-60">
                      <i class="icon-social-facebook text-4xl <md:text-2xl text-center text-wine-red-regular"></i>
                    </a>
                  </li>

                  <li>
                    <a href="" class="rounded-full  w-[60px] <md:w-[50px] h-[60px] <md:h-[50px] flex items-center justify-center bg-milk-light transition-all ease-in-out duration-300 opacity-100 hover:opacity-60">
                      <i class="icon-social-instagram text-4xl <md:text-2xl text-center text-wine-red-regular"></i>
                    </a>
                  </li>
                </ul>
              </div>

            </div>

            <ul class="flex flex-wrap flex-col text-xl <lg:text-xl <md:text-lg text-white">
              <li>
                <a href="#" class="transition-all ease-in-out duration-300 opacity-100 hover:opacity-60 underline decoration-gray-400">Privacy Policy</a>
              </li>
              <li>
                <a href="#" class="transition-all ease-in-out duration-300 opacity-100 hover:opacity-60 underline decoration-gray-400">Terms of Use</a>
              </li>
              <li>
                <a href="#" class="transition-all ease-in-out duration-300 opacity-100 hover:opacity-60 underline decoration-gray-400">FAQs</a>
              </li>
            </ul>

          </div>
          <!-- w-6/12 -->

          <!-- w-6/12 -->
          <div 
            class="w-6/12 <md:w-full border-0 border-red-500"
            data-aos="fade-up" 
            data-aos-duration="1000"
            data-aos-delay="500"
          >

            <div class="flex flex-col items-start h-full <xl:space-y-10 border-0 border-red-500">

              <div class="w-full flex-1 border-0 border-red-500">
                <ul class="flex flex-col items-end space-y-0 border-0 border-red-500">
                  <li class="">
                    <a href="#" class="text-salmon-pink text-2xl uppercase inline-block border-0 border-red-500">
                      Home
                    </a>
                  </li>
                  <li class="">
                    <a href="#" class="text-white text-2xl uppercase inline-block transition-all hover:opacity-50 border-0 border-red-500">About</a>
                  </li>
                  <li class="">
                    <a href="#" class="text-white text-2xl uppercase inline-block transition-all hover:opacity-50 border-0 border-red-500">Shop</a>
                  </li>
                  <li class="">
                    <a href="#" class="text-white text-2xl uppercase inline-block transition-all hover:opacity-50 border-0 border-red-500">Stockists</a>
                  </li>
                </ul>
              </div>

              <div class="flex flex-col items-end flex-0 space-y-12 border-0 border-green-500">

                <div class="text-xl text-right <md:text-lg text-white w-8/12">
                  <p>WARNING</p>
                  <p>Under the Liquor Control Reform Act 1998 it is an offense to supply alcohol to a person under
                  the age of 18 years (Penalty exceeds $8,000). For a person under the age of 18 years to
                  purchase or receive liquor (Penalty exceeds $700). Liquor License #33721176</p>
                </div>

                <div class="text-xl <lg:text-xl <md:text-lg text-right text-white">
                  <p>© 2025 Edgemill Group. All rights reserved</p>
                </div>

              </div>

            </div>

          </div>
          <!-- w-6/12 -->

        </div>
        <!-- container -->

      </div>
      <!-- block -->
      
    </footer>

    <!-- up nav -->
    <div 
      class="fixed right-0 bottom-0 z-999 p-5 border-0 border-blue-500 opacity-0 transition-all duration-1000 ease-in-out" 
      id="button-up"
    >
      <nav>
        <ul>
          <li>
            <a
              href="#top"
              class="flex items-center justify-center text-xl bg-gray-600 px-4 py-3 rounded-3xl text-white block transition-all duration-1000 ease-in-out hover:opacity-50"
            >
              <i class="icon-chevron-thin-up"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- up nav -->

    <!-- mobile nav -->
    <div 
      class="hidden xl:hidden fixed top-0 bottom-0 left-0 right-0 px-5 py-5 bg-wine-red-regular z-999 overflow-x-auto space-y-5"
      id="mobile-menu"
    >

      <div class="flex justify-end w-full border-0 border-blue-500">
        <nav>
          <ul>
            <li>
              <a
                href="#"
                class="text-2xl text-white block transition-all duration-1000 ease-in-out hover:opacity-50"
                id="exit-button"
              >
                <i class="icon-close"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="flex-center-y border-0 border-red-500 px-2">
        <ul class="flex-col space-y-2 border-0 border-red-500">
          <li class="">
            <a href="#" class="text-salmon-pink text-5xl <md:text-2xl font-extrabold uppercase inline-block border-0 border-red-500">
              Home
            </a>
          </li>
          <li class="">
            <a href="#" class="text-white text-5xl <md:text-2xl font-extrabold uppercase inline-block transition-all hover:opacity-50 border-0 border-red-500">About</a>
          </li>
          <li class="">
            <a href="#" class="text-white text-5xl <md:text-2xl font-extrabold uppercase inline-block transition-all hover:opacity-50 border-0 border-red-500">Shop</a>
          </li>
          <li class="">
            <a href="#" class="text-white text-5xl <md:text-2xl font-extrabold uppercase inline-block transition-all hover:opacity-50 border-0 border-red-500">Stockists</a>
          </li>
          <li class="border-0 border-blue-500">
            <a 
              href="#" 
              class="inline-flex items-center justify-center transition-all ease-in-out duration-300 opacity-100 hover:opacity-60 border-0 border-blue-500 open-search"
            >
              <i class="icon-search text-2xl text-white"></i>
            </a>
          </li>
        </ul>
      </div>

    </div>
    <!-- mobile nav -->

    <div id="wait" class="hidden fixed top-0 bottom-0 left-0 right-0 z-999">
      <div class="flex items-center justify-center h-12/12 w-12/12 bg-black bg-opacity-50 z-4 text-white text-xl">
        <p>Please wait...</p>
      </div>
    </div>

    <!-- search -->
    <div id="search" class="hidden fixed top-0 bottom-0 left-0 right-0 z-999 bg-white">
      <div class="absolute top-5 right-5">
        <nav class="flex justify-end w-full border-0 border-blue-500">
          <ul>
            <li>
              <a
                href="#"
                class="text-xl text-wine-red-regular p-2 transition-all duration-1000 ease-in-out hover:opacity-50 border-0 border-red-500"
                id="exit-search"
              >
                <i class="icon-close"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="2xl:container mx-auto w-full h-full flex flex-wrap justify-center items-center border-0 border-red-500"
        id="app-search"
      >
        <form-search 
          v-slot="{ v$, form, response, submitForm, resetResponse }"
          v-bind:form-id="'form-search'"
        >
          <form 
            id="form-search"
            class="w-full h-full flex flex-wrap justify-center items-center space-x-4 border-0 border-blue-500"
            action="https://lauthiamkok.net" 
            novalidate="true"
            v-on:submit.prevent="submitForm"
          >
            <div class="w-5/12 <xl:w-6/12 <lg:w-8/12 border-0 border-blue-500 relative">
              <input
                class="input-search w-full"
                type="text"
                placeholder="Search"
                v-model="form.search"
                v-on:blur="v$.search.$touch"
              >
              <div v-for="error of v$.search.$errors" :key="error.$uid"  class="absolute top-13 left-0 right-0 border-0 border-blue-500">
                <div class="text-red-500 text-xl leading-4.5">{{ error.$message }}</div>
              </div>
            </div>

            <button class="w-7 h-7 rounded-full inline-flex items-center justify-center transition-all ease-in-out duration-300 opacity-100 hover:opacity-60 bg-wine-red-regular border-0 border-blue-500 mt-2">
              <i class="icon-search text-sm text-white"></i>
            </button>

          </form>
        </form-search>

      </div>
      
    </div>
    <!-- search -->

    <div id="app-current-breakpoint">
      <current-breakpoint />
    </div>
      
    <script type="module" src="/main.ts"></script>
  </body>
</html>
