/**
 * ===============================================================
 * Common elements
 * ===============================================================
 */

html,
body {
  font-weight: normal;
  font-style: normal;
  scroll-behavior: smooth;
  overscroll-behavior: none;

  @apply
    font-sans
    ;
}

html {
  @apply
    text-black
    bg-lime-light
    ;
}

body {
  @apply
    font-sans
    font-medium
    ;
}

// Fix for bottom line on HTML5 videos.
video {
  margin-bottom: -1px;
}

// Generic button
.btn {
  border-radius: 3em;

  @apply
    flex-inline
    items-center
    justify-center

    bg-wine-red-regular
    py-1.5
    px-6
    !pt-[6px]

    transition-all
    ease-in-out
    duration-300
    opacity-100
    hover:opacity-60
    !no-underline

    dark:bg-milk-light
    
    ;

  button {
    @apply
      font-serif
      text-center
      text-white
      text-[075rem]
      tracking-widest
      uppercase
      
      rounded-md

      focus:outline-none
      focus:shadow-outline

      dark:text-wine-red-regular

      // border-1
      // border-green-500
      ;
  }

  &.age {
    @apply
      !border-0
      bg-milk-light
    ;

    button {
      @apply
        text-wine-red-regular
        ;
    }
  }
}

*:focus {
    outline: none;
}

.input-search {
  @apply
    appearance-none
    border-b-1
    border-b-wine-red-regular

    // border-1
    // border-green-regular

    text-xl
    text-wine-red-regular
    py-1
    px-2

    focus:outline-none

    /* hide arrows */
    ![appearance:textfield] // firefox fix
    [&::-webkit-outer-spin-button]:appearance-none 
    [&::-webkit-inner-spin-button]:appearance-none
    ;

  // -moz-appearance: textfield;

  &::placeholder {
    @apply
      text-xl
      text-wine-red-regular
    ;
  }
}

.input-number {
  @apply
    // shadow
    appearance-none
    // border-1
    // border-gray-500
    rounded-xl
    text-center
    py-2
    text-2xl
    <md:text-xl

    focus:outline-none
    focus:shadow-outline
    ;

  &::placeholder {
    @apply
      text-3xl
      text-black
    ;
  }
}

.input-year {
  @apply
    shadow
    appearance-none
    border-2
    border-green-regular
    w-45
    <md:w-40
    
    text-4xl
    <md:text-4xl
    text-center
    font-button
    tracking-wide
    text-green-regular
    pt-6
    pb-6
    rounded-md

    focus:outline-none

    /* hide arrows */
    ![appearance:textfield] // firefox fix
    [&::-webkit-outer-spin-button]:appearance-none 
    [&::-webkit-inner-spin-button]:appearance-none
    ;

  // -moz-appearance: textfield;

  &::placeholder {
    @apply
      text-center
      text-6xl
      <md:text-5xl
      text-green-regular
    ;
  }
}

.input-autocomplete {
  @apply
    appearance-none
    border-0

    // border-1
    // border-green-regular

    text-xl
    text-gray-900
    py-1
    px-2

    focus:outline-none

    /* hide arrows */
    ![appearance:textfield] // firefox fix
    [&::-webkit-outer-spin-button]:appearance-none 
    [&::-webkit-inner-spin-button]:appearance-none
    ;

  // -moz-appearance: textfield;

  &::placeholder {
    @apply
      text-xl
      text-gray-400
    ;
  }
}

// Remove number input arrows
// https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.input-light {
  @apply
    appearance-none
    border-none
    rounded-4xl
    px-4
    py-1
    text-xl
    font-bold
    text-[#b20838]

    w-full
    bg-[#e8dfdf]
    focus:outline-none
  ;

  &::placeholder {
    @apply
      text-[#bcbab3]
     ;
  }

  &.has-error {
    &::placeholder {
    @apply
       text-red-500
       ;
    }
  }
}

.has-links {
  a {
    @apply
      underline
      underline-offset-8
      transition-all
      ;

    &:hover {
      @apply
        opacity-50
        ;
    }
  }
}

.has-green-links {
  a {
    @apply
      text-green-regular
      transition-all
      ;

    &:hover {
      @apply
        opacity-60
        underline
        underline-offset-8
        ;
    }
  }
}

// https://stackoverflow.com/q/10428720/413225
.has-lists {
  ul {
    @apply
      list-disc
      list-outside
      !ml-7
      !mt-1

      <lg:!ml-0
      ;
  }

  ul p {
    @apply
      inline
      ;
  }
}

.has-custom-lists {
  ul {
    @apply
      list-none
      list-outside
      ;

    li {
      @apply
        flex
      ;
    }

    li:before {
      font-family: 'icomoon' !important;
      content: "\e909" !important;
      padding-right: 5px;
      font-size:15px;
    }
  }

  ul p {
    @apply
      inline
      ;
  }
}

.has-number-lists {
  ol {
    @apply
      list-none
      list-inside
      mt-1
      mb-5
      flex
      flex-wrap
      flex-col
      space-y-8
      ;
  }

  ol li {
    @apply
      border-0
      border-red-500
      ;
  }

  // Remove dots.
  ol li {
      counter-increment: custom;
  }

  ol li {
    @apply
      flex
      <lg:flex-col
    ;
  }

  ol li:before {
    content: counter(custom) "";
    
    // Customize the numbers of an ordered list.
    @apply
     font-title
     text-5xl
     text-green-regular
     pr-2

     border-0
     border-red-500
     ;
  }

  ol p {
    @apply
      inline
      ;
  }
}

.has-inline-lists {
  ul {
    @apply
      flex 
      flex-wrap 
      list-circle 
      list-outside 
      children:(mx-5)
    ;
  }
}

.has-dividers {
  li:not(:last-child):after {
    content: "\007C";
    padding-right: 5px;
    padding-left: 5px;

    @apply
      text-white
      ;
  }
}

.has-h2s {
  h2 {
    @apply
      text-4xl
      <2xl:text-3xl
      <md:text-3xl
      font-title
      text-green-regular
      leading-none 
      pb-1
      ;
  }

  h2:not(:first-child) {
    @apply
      pt-2
      ;
  }
}

.has-h3s {
  h3 {
    @apply
      text-3xl 
      <md:text-2xl 
      font-title
      text-green-regular
      leading-none 
      tracking-[.005em]
      pt-2
      pb-4
      ;
  }
}

.has-paragraphs {
  p:not(:last-child) {
    @apply
      pb-5
      <xl:pb-4
      ;
  }
}

.has-images {
  p {
    img {
      @apply
        inline-block 
      ;
    }
  }
}

.has-image-links {
  p {
    a {
      @apply
        inline-block 
        transition-all 
        ease-in-out 
        duration-300 
        opacity-100 
        hover:opacity-60
      ;
    }
  }
}

// https://imagekit.io/blog/image-rotation-html-and-css-imagekit/
.rotate {
  animation: rotation 15s infinite linear;
}

// https://jackharner.com/blog/pausing-css-animations-on-hover/
.rotate-paused {
  animation-play-state: paused;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.is-sticky {
  @apply
    opacity-95
  ;

  .logo-back {
    // https://stackoverflow.com/questions/3508605/how-can-i-transition-height-0-to-height-auto-using-css
    @apply
      !opacity-0
      max-h-0
    ;
  }

  nav {
    @apply
      py-5
    ;
  }
}

/**
 * ===============================================================
 * Swiper
 * https://stackoverflow.com/questions/9182978/semi-transparent-color-layer-over-background-image
 * ===============================================================
 */

/*! purgecss start ignore */
.swiper {
  @apply 
    w-full
    h-auto
  ;
}

.swiper-slide {
  // XY center.
  @apply
    flex
    items-center
    justify-center
  ;
}

.swiper-button-prev::after {
  font-family: 'icomoon' !important;
  content: "\e90a" !important;
  // font-size: 15em !important;
  // text-transform: none !important;
  // letter-spacing: 0;
  // font-variant: initial;
  // line-height: 1;

  @apply
   !text-4xl
  ;
}

.swiper-button-next::after {
  font-family: 'icomoon' !important;
  content: "\e908" !important;
  // font-size: 15em !important;
  // text-transform: none !important;
  // letter-spacing: 0;
  // font-variant: initial;
  // line-height: 1;

  @apply
   !text-4xl
  ;
}

.swiper-navigation-icon {
  display: none !important;
}

// .swiper-button-prev {
//   @apply
//    !left-10
//   ;
// }

// .swiper-button-next {
//   @apply
//    !right-10
//   ;
// }

.swiper-pagination {
  @apply
    // !space-x-3
    // !-bottom-10
    border-0
    border-red-500
    ;
}

// .swiper-button-next {
//   @apply
//     !relative
//     !right-auto
//   ;
// }

// .swiper-button-prev {
//   @apply
//     !relative
//     !left-auto
//   ;
// }

.swiper-pagination-bullet {
  width: 4px !important;
  height: 20px !important;
  border-radius: 0 !important;
  text-align: center;
  line-height: 20px;
  
  color: #fff;
  opacity: 1 !important;
  background: none !important;

  // Fix the letter 1 appears far from the rest of numbers.
  &:first-of-type {
    width: 3px !important;
  }

  @apply
    !text-xl
    font-bold
    text-wine-red-regular
    dark:text-white

    // border-1
    // border-red-500
    ;
}

.swiper-pagination-bullet-active {
  // background: #007aff;
  @apply
    !text-gray-400
    ;
}

// Spacing between the bullets.
.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 8px !important;
}

// Fix for using grid-xy in swiper.
// https://www.w3schools.com/cssref/css3_pr_box-sizing.asp
.swiper-wrapper {
  box-sizing: border-box !important;
}

// For newsticker
.swiper-wrapper{transition-timing-function:linear !important;}

.swiper-slide-active {
  @apply
    z-2
    ;
}

// Customise WC.
.wc-block-cart__submit-container,
.wc-block-components-checkout-place-order-button {
  @apply
    !bg-black
    !text-white
    ;
}

.editor-styles-wrapper table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__image img, table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__image img {
  @apply
    p-5
    ;
  // object-fit: contain;
  // aspect-ratio: 1 / 1;
}

// Quick fix the bug in WC on the upsell products on the cart and checkout pages.
.wc-block-grid__products .wc-block-grid__product-image img {
    height: 105px !important;
}

// #infowindow-content .title {
//   font-weight: bold;
// }

// #map #infowindow-content {
//   display: inline;
// }

/*! purgecss end ignore */
